body {
    margin: 0;
    background-color: #323232;
    height: 430px;
}
.father {
margin: 210px;

}

.color1 {
    color:  #ff6e1d;
}
.color2 {
    color: #2cfff2;
}
.color3 {
    color: #ff54a6;
}
.color4 {
    color: #ff3e3e;
}
.rad {
    border: 6px solid;
    border-radius: 30px;
    width: 220px;
     text-align: center;
    margin: 18px auto;
}