.block {
    width: 400px;
    height: 200px;
    background: #9d9797;
    margin-top: 120px;
    box-shadow: #7a5e39 -20px -20px 30px 10px;
}

.text_block {
    width: 300px;
    padding-left: 25px;
    border-left: 5px solid #b42828;

}